body {
  font-family: "Roboto", sans-serif;
  background-color: #eef2f3;
  color: #333;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

#weather-widget {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.weather-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  animation: bounce 2s infinite;
}

.weather-detail {
  margin: 10px 0;
  font-size: 1.1em;
}

#zip-code-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zip-code-message {
  margin-bottom: 10px;
}

#location-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#zip-code {
  padding: 8px;
  margin-bottom: 10px;
}

#get-weather {
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

#get-weather:hover {
  background-color: #45a049;
}

#theme-container {
  position: fixed;
  top: 15px;
  right: 15px;
}

#theme-toggle {
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  cursor: pointer;
}

#theme-image {
  width: 100%;
  height: auto;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 600px) {
  #weather-widget {
    width: 90%;
  }
}

/* Dark theme styles */
.dark-theme {
  background-color: #2c3e50;
  color: #ecf0f1;
}

.dark-theme #weather-widget {
  background-color: #34495e;
}
